In [21]:
import pandas as pd

#provide wifi file address
df=pd.read_csv("Prantika-DGP 38/All/Bus_WiFi_2019_09_23_18_05_21_67.txt", sep=',', header=None,error_bad_lines=False)
#creating new csv removing names with commas (,) in between
df.to_csv("wifi.csv")

data=pd.read_csv("wifi.csv")



df2=pd.read_csv("Prantika-DGP 38/All/Bus_GPS_2019_09_23_18_05_21_609.txt", sep=',')

df2.to_csv("gps.csv")

data_gps=pd.read_csv("gps.csv")
data_gps.columns = ['Latitude', 'Longitude', 'Speed', 'Altitude', 'Timestamp', 'stop/busy']
data_gps.drop(['stop/busy'], axis=1, inplace=True)

data

b'Skipping line 1065: expected 4 fields, saw 5\nSkipping line 1070: expected 4 fields, saw 5\nSkipping line 1075: expected 4 fields, saw 5\nSkipping line 1080: expected 4 fields, saw 5\nSkipping line 1085: expected 4 fields, saw 5\nSkipping line 1089: expected 4 fields, saw 5\nSkipping line 1093: expected 4 fields, saw 5\nSkipping line 1097: expected 4 fields, saw 5\nSkipping line 1101: expected 4 fields, saw 5\nSkipping line 1108: expected 4 fields, saw 5\nSkipping line 1117: expected 4 fields, saw 5\nSkipping line 1126: expected 4 fields, saw 5\nSkipping line 1135: expected 4 fields, saw 5\nSkipping line 1144: expected 4 fields, saw 5\nSkipping line 1153: expected 4 fields, saw 5\nSkipping line 3491: expected 4 fields, saw 5\nSkipping line 3492: expected 4 fields, saw 5\nSkipping line 3493: expected 4 fields, saw 5\nSkipping line 3494: expected 4 fields, saw 5\nSkipping line 3495: expected 4 fields, saw 5\nSkipping line 3496: expected 4 fields, saw 5\nSkipping line 3508: expected 4 fields, saw 5\nSkipping line 3509: expected 4 fields, saw 5\nSkipping line 3510: expected 4 fields, saw 5\nSkipping line 3511: expected 4 fields, saw 5\nSkipping line 3512: expected 4 fields, saw 5\nSkipping line 3513: expected 4 fields, saw 5\nSkipping line 3514: expected 4 fields, saw 5\nSkipping line 3515: expected 4 fields, saw 5\nSkipping line 3516: expected 4 fields, saw 5\nSkipping line 3517: expected 4 fields, saw 5\nSkipping line 3518: expected 4 fields, saw 5\nSkipping line 3519: expected 4 fields, saw 5\nSkipping line 3521: expected 4 fields, saw 5\nSkipping line 3522: expected 4 fields, saw 5\nSkipping line 3534: expected 4 fields, saw 5\nSkipping line 3535: expected 4 fields, saw 5\nSkipping line 3536: expected 4 fields, saw 5\nSkipping line 3537: expected 4 fields, saw 5\nSkipping line 3538: expected 4 fields, saw 5\nSkipping line 3539: expected 4 fields, saw 5\nSkipping line 3540: expected 4 fields, saw 5\nSkipping line 3541: expected 4 fields, saw 5\nSkipping line 3542: expected 4 fields, saw 5\nSkipping line 3543: expected 4 fields, saw 5\nSkipping line 3544: expected 4 fields, saw 5\nSkipping line 3545: expected 4 fields, saw 5\nSkipping line 3547: expected 4 fields, saw 5\nSkipping line 3548: expected 4 fields, saw 5\nSkipping line 3549: expected 4 fields, saw 5\nSkipping line 3550: expected 4 fields, saw 5\nSkipping line 3551: expected 4 fields, saw 5\nSkipping line 3563: expected 4 fields, saw 5\nSkipping line 3564: expected 4 fields, saw 5\nSkipping line 3565: expected 4 fields, saw 5\nSkipping line 3566: expected 4 fields, saw 5\nSkipping line 3567: expected 4 fields, saw 5\nSkipping line 3568: expected 4 fields, saw 5\nSkipping line 3569: expected 4 fields, saw 5\nSkipping line 3570: expected 4 fields, saw 5\nSkipping line 3571: expected 4 fields, saw 5\nSkipping line 3572: expected 4 fields, saw 5\nSkipping line 3573: expected 4 fields, saw 5\nSkipping line 3574: expected 4 fields, saw 5\nSkipping line 3576: expected 4 fields, saw 5\nSkipping line 3577: expected 4 fields, saw 5\nSkipping line 3578: expected 4 fields, saw 5\nSkipping line 3579: expected 4 fields, saw 5\nSkipping line 3580: expected 4 fields, saw 5\nSkipping line 3592: expected 4 fields, saw 5\nSkipping line 3593: expected 4 fields, saw 5\nSkipping line 3594: expected 4 fields, saw 5\nSkipping line 3595: expected 4 fields, saw 5\nSkipping line 3596: expected 4 fields, saw 5\nSkipping line 3597: expected 4 fields, saw 5\nSkipping line 3598: expected 4 fields, saw 5\nSkipping line 3599: expected 4 fields, saw 5\nSkipping line 3600: expected 4 fields, saw 5\nSkipping line 3601: expected 4 fields, saw 5\nSkipping line 3602: expected 4 fields, saw 5\nSkipping line 3603: expected 4 fields, saw 5\nSkipping line 3605: expected 4 fields, saw 5\nSkipping line 3606: expected 4 fields, saw 5\nSkipping line 3607: expected 4 fields, saw 5\nSkipping line 3608: expected 4 fields, saw 5\nSkipping line 3609: expected 4 fields, saw 5\nSkipping line 3611: expected 4 fields, saw 5\nSkipping line 3617: expected 4 fields, saw 5\nSkipping line 3618: expected 4 fields, saw 5\nSkipping line 3619: expected 4 fields, saw 5\nSkipping line 3620: expected 4 fields, saw 5\nSkipping line 3621: expected 4 fields, saw 5\nSkipping line 3622: expected 4 fields, saw 5\nSkipping line 3623: expected 4 fields, saw 5\nSkipping line 3624: expected 4 fields, saw 5\nSkipping line 3625: expected 4 fields, saw 5\nSkipping line 3626: expected 4 fields, saw 5\nSkipping line 3627: expected 4 fields, saw 5\nSkipping line 3628: expected 4 fields, saw 5\nSkipping line 3630: expected 4 fields, saw 5\nSkipping line 3631: expected 4 fields, saw 5\nSkipping line 3632: expected 4 fields, saw 5\nSkipping line 3633: expected 4 fields, saw 5\nSkipping line 3634: expected 4 fields, saw 5\nSkipping line 3636: expected 4 fields, saw 5\nSkipping line 3638: expected 4 fields, saw 5\nSkipping line 3641: expected 4 fields, saw 5\nSkipping line 3642: expected 4 fields, saw 5\nSkipping line 3643: expected 4 fields, saw 5\nSkipping line 3644: expected 4 fields, saw 5\nSkipping line 3645: expected 4 fields, saw 5\nSkipping line 3646: expected 4 fields, saw 5\nSkipping line 3647: expected 4 fields, saw 5\nSkipping line 3648: expected 4 fields, saw 5\nSkipping line 3649: expected 4 fields, saw 5\nSkipping line 3650: expected 4 fields, saw 5\nSkipping line 3651: expected 4 fields, saw 5\nSkipping line 3653: expected 4 fields, saw 5\nSkipping line 3654: expected 4 fields, saw 5\nSkipping line 3655: expected 4 fields, saw 5\nSkipping line 3656: expected 4 fields, saw 5\nSkipping line 3657: expected 4 fields, saw 5\nSkipping line 3659: expected 4 fields, saw 5\nSkipping line 3661: expected 4 fields, saw 5\nSkipping line 3664: expected 4 fields, saw 5\nSkipping line 3665: expected 4 fields, saw 5\nSkipping line 3666: expected 4 fields, saw 5\nSkipping line 3667: expected 4 fields, saw 5\nSkipping line 3668: expected 4 fields, saw 5\nSkipping line 3669: expected 4 fields, saw 5\nSkipping line 3670: expected 4 fields, saw 5\nSkipping line 3671: expected 4 fields, saw 5\nSkipping line 3672: expected 4 fields, saw 5\nSkipping line 3673: expected 4 fields, saw 5\nSkipping line 3674: expected 4 fields, saw 5\nSkipping line 3676: expected 4 fields, saw 5\nSkipping line 3677: expected 4 fields, saw 5\nSkipping line 3678: expected 4 fields, saw 5\nSkipping line 3679: expected 4 fields, saw 5\nSkipping line 3680: expected 4 fields, saw 5\nSkipping line 3682: expected 4 fields, saw 5\nSkipping line 3684: expected 4 fields, saw 5\nSkipping line 3687: expected 4 fields, saw 5\nSkipping line 3688: expected 4 fields, saw 5\nSkipping line 3689: expected 4 fields, saw 5\nSkipping line 3690: expected 4 fields, saw 5\nSkipping line 3691: expected 4 fields, saw 5\nSkipping line 3692: expected 4 fields, saw 5\nSkipping line 3693: expected 4 fields, saw 5\nSkipping line 3694: expected 4 fields, saw 5\nSkipping line 3695: expected 4 fields, saw 5\nSkipping line 3696: expected 4 fields, saw 5\nSkipping line 3697: expected 4 fields, saw 5\nSkipping line 3699: expected 4 fields, saw 5\nSkipping line 3700: expected 4 fields, saw 5\nSkipping line 3701: expected 4 fields, saw 5\nSkipping line 3702: expected 4 fields, saw 5\nSkipping line 3703: expected 4 fields, saw 5\nSkipping line 3705: expected 4 fields, saw 5\nSkipping line 3707: expected 4 fields, saw 5\nSkipping line 3710: expected 4 fields, saw 5\nSkipping line 3711: expected 4 fields, saw 5\nSkipping line 3712: expected 4 fields, saw 5\nSkipping line 3713: expected 4 fields, saw 5\nSkipping line 3714: expected 4 fields, saw 5\nSkipping line 3715: expected 4 fields, saw 5\nSkipping line 3716: expected 4 fields, saw 5\nSkipping line 3717: expected 4 fields, saw 5\nSkipping line 3718: expected 4 fields, saw 5\nSkipping line 3719: expected 4 fields, saw 5\nSkipping line 3720: expected 4 fields, saw 5\nSkipping line 3722: expected 4 fields, saw 5\nSkipping line 3723: expected 4 fields, saw 5\nSkipping line 3724: expected 4 fields, saw 5\nSkipping line 3725: expected 4 fields, saw 5\nSkipping line 3726: expected 4 fields, saw 5\nSkipping line 3728: expected 4 fields, saw 5\nSkipping line 3730: expected 4 fields, saw 5\nSkipping line 3735: expected 4 fields, saw 5\nSkipping line 3740: expected 4 fields, saw 5\nSkipping line 3745: expected 4 fields, saw 5\nSkipping line 3750: expected 4 fields, saw 5\nSkipping line 3802: expected 4 fields, saw 5\nSkipping line 3807: expected 4 fields, saw 5\nSkipping line 3809: expected 4 fields, saw 5\nSkipping line 3810: expected 4 fields, saw 5\nSkipping line 3815: expected 4 fields, saw 5\nSkipping line 3817: expected 4 fields, saw 5\nSkipping line 3818: expected 4 fields, saw 5\nSkipping line 3823: expected 4 fields, saw 5\nSkipping line 3825: expected 4 fields, saw 5\nSkipping line 3826: expected 4 fields, saw 5\nSkipping line 3831: expected 4 fields, saw 5\nSkipping line 3833: expected 4 fields, saw 5\nSkipping line 3834: expected 4 fields, saw 5\nSkipping line 3838: expected 4 fields, saw 5\n'

,Unnamed: 0,0,1,2,3
0,0,64:d1:54:2d:d3:35,Haldiya Steels,-80,09/23/2019 18:05:22
1,1,90:f0:52:76:03:6f,meizu C9,-83,09/23/2019 18:05:22
2,2,64:d1:54:97:e7:ef,RAILWIRE 2 DGR West,-80,09/23/2019 18:05:22
3,3,58:d5:6e:6d:98:10,N Pal lottery,-61,09/23/2019 18:05:22
4,4,10:62:eb:28:db:f9,SBSTC BUS STAND,-81,09/23/2019 18:05:22
...,...,...,...,...,...
5333,5333,78:44:76:67:21:d8,LOVE POINT,-76,09/23/2019 18:45:38
5334,5334,18:0f:76:c7:00:f4,D-Link_DIR-615,-94,09/23/2019 18:45:38
5335,5335,00:1e:a6:04:37:40,iBall-Lions care,-88,09/23/2019 18:45:47
5336,5336,78:44:76:67:21:d8,LOVE POINT,-77,09/23/2019 18:45:47
5337,5337,18:0f:76:c7:00:f4,D-Link_DIR-615,-94,09/23/2019 18:45:47

In [22]:
df = data.drop(['Unnamed: 0'], axis=1)
df.columns = ['Wifi_add', 'Wifi_name', 'strength', 'Timestamp']
df

               Wifi_add            Wifi_name  strength            Timestamp
0     64:d1:54:2d:d3:35       Haldiya Steels       -80  09/23/2019 18:05:22
1     90:f0:52:76:03:6f             meizu C9       -83  09/23/2019 18:05:22
2     64:d1:54:97:e7:ef  RAILWIRE 2 DGR West       -80  09/23/2019 18:05:22
3     58:d5:6e:6d:98:10        N Pal lottery       -61  09/23/2019 18:05:22
4     10:62:eb:28:db:f9      SBSTC BUS STAND       -81  09/23/2019 18:05:22
...                 ...                  ...       ...                  ...
5333  78:44:76:67:21:d8           LOVE POINT       -76  09/23/2019 18:45:38
5334  18:0f:76:c7:00:f4       D-Link_DIR-615       -94  09/23/2019 18:45:38
5335  00:1e:a6:04:37:40     iBall-Lions care       -88  09/23/2019 18:45:47
5336  78:44:76:67:21:d8           LOVE POINT       -77  09/23/2019 18:45:47
5337  18:0f:76:c7:00:f4       D-Link_DIR-615       -94  09/23/2019 18:45:47

[5338 rows x 4 columns]

In [23]:
#start data point
a = 100
#end data point 
b = 300

#printing wifi counts between those data points
WifiC = df["Wifi_add"][a:b].nunique()
print(WifiC)

14

In [24]:
df['Timestamp']=df['Timestamp'].astype(str)
data_gps['Timestamp']=data_gps['Timestamp'].astype(str)
data_gps=data_gps.merge(df, on='Timestamp',how="left")
data_gps=data_gps.dropna()
data_gps

,Latitude,Longitude,Speed,Altitude,Timestamp,Wifi_add,Wifi_name,strength
2,23.494400,87.317167,0.0,9.0,09/23/2019 18:05:29,64:d1:54:2d:d3:35,Haldiya Steels,-82.0
3,23.494400,87.317167,0.0,9.0,09/23/2019 18:05:29,90:f0:52:76:03:6f,meizu C9,-83.0
4,23.494400,87.317167,0.0,9.0,09/23/2019 18:05:29,64:d1:54:97:e7:ef,RAILWIRE 2 DGR West,-86.0
5,23.494400,87.317167,0.0,9.0,09/23/2019 18:05:29,58:d5:6e:6d:98:10,N Pal lottery,-73.0
6,23.494400,87.317167,0.0,9.0,09/23/2019 18:05:29,10:62:eb:28:db:f9,SBSTC BUS STAND,-78.0
...,...,...,...,...,...,...,...,...
6253,23.563947,87.283809,0.0,52.0,09/23/2019 18:45:38,78:44:76:67:21:d8,LOVE POINT,-76.0
6254,23.563947,87.283809,0.0,52.0,09/23/2019 18:45:38,18:0f:76:c7:00:f4,D-Link_DIR-615,-94.0
6263,23.563959,87.283774,0.0,50.0,09/23/2019 18:45:47,00:1e:a6:04:37:40,iBall-Lions care,-88.0
6264,23.563959,87.283774,0.0,50.0,09/23/2019 18:45:47,78:44:76:67:21:d8,LOVE POINT,-77.0
6265,23.563959,87.283774,0.0,50.0,09/23/2019 18:45:47,18:0f:76:c7:00:f4,D-Link_DIR-615,-94.0

In [25]:
data_gps['count']=0

from math import sin, cos, sqrt, atan2, radians

import math as Math
def dist(lat1,lon1,lat2,lon2):
    R = 6371e3 #meters
    φ1 = Math.radians(lat1)
    φ2 = Math.radians(lat2)
    Δφ = Math.radians(lat2-lat1)
    Δλ = Math.radians(lon2-lon1)

    a = Math.sin(Δφ/2) * Math.sin(Δφ/2) +\
            Math.cos(φ1) * Math.cos(φ2) *\
            Math.sin(Δλ/2) * Math.sin(Δλ/2)
    c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a))

    d = R * c
    return d

l=data_gps.index.values
start=0
for i in range(1,len(l)):
    if((dist(data_gps.loc[l[i],'Latitude'],data_gps.loc[l[i],'Longitude'],data_gps.loc[l[start],'Latitude'],data_gps.loc[l[start],'Longitude']))>=200):
        WifiC = data_gps["Wifi_add"][start:i].nunique()
        data_gps.loc[l[i],'count']=WifiC
        start=i

data_gps=data_gps[(data_gps['count']>0)]
data_gps.drop(['Altitude','Timestamp','Speed','Wifi_add','Wifi_name','strength'],axis=1,inplace=True)
data_gps

/home/rishav/.local/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

       Latitude  Longitude  count
797   23.495934  87.314445     27
972   23.497027  87.312570      8
1041  23.499345  87.308290      1
1065  23.499964  87.306439      2
1150  23.501762  87.306619      6
1321  23.503395  87.307550     15
1386  23.505005  87.308618      8
1487  23.519486  87.311165      2
1547  23.526263  87.311134      1
1667  23.528100  87.311132      3
1681  23.533313  87.306431      2
1785  23.536000  87.303261      5
1856  23.536867  87.301498     11
1952  23.536086  87.299680     13
2068  23.535107  87.297798     13
2303  23.535800  87.295982     18
2928  23.537497  87.296778     53
3231  23.538654  87.295193     42
3442  23.538944  87.293187     52
4113  23.540821  87.292017     82
4194  23.541567  87.290116     14
4480  23.543407  87.289765     21
4664  23.543419  87.287732     27
4774  23.543049  87.285806     11
4780  23.544310  87.283510      1
4848  23.545004  87.281683      8
5086  23.546697  87.282445     13
5212  23.548180  87.283612     11
5323  23.549716  87.284762     15
5481  23.551300  87.286037     17
5636  23.553006  87.286851     19
5753  23.555107  87.285677     10
5831  23.556967  87.286038      4
5888  23.558616  87.285044      5
6019  23.560251  87.284217     11
6136  23.561858  87.283313     12
6198  23.563886  87.283808      4